*{
  font-family: 'Inconsolata', monospace;
  
}


/*BACKGROUND IMG*/

body{
	
  background-image: url(background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20% 30%;
}



/*HOVER*/

img:hover {
  transform: scale(1.1);
}



/*LOGO*/

#logo{
	width: 8rem;
	height: 8rem;

}


/*HEADER*/

div.header{

	display: block;
	text-align: center;
	margin-bottom: .5rem;
	
}


/*SOCIAL MEDIA ICONS*/

ul.nav {
	
	display: flex;
	justify-content: center;
	list-style-type: none;
	
  
}


li.navlist{
	padding: 10px;
	margin-bottom: 8rem;


}

/*ABOUT SECTION*/

div.container{
	display: flex;
	position: relative;
	margin: auto;
  	width: 50%;
  	justify-content: center;


}


#Portrait{
	border: 3px solid #e78200;
	border-radius: 1.2rem;
}

#myself{
	text-align: left;
	padding-top: 10%;
	padding-left: 5%;

}


/*EDU SECTION*/

div#Edudiv{
	display: block;
	text-align: center;

}

/*PROF SECTION*/


div#Profdiv{
	display: block;
	text-align: center;


}


div#Persondiv{
	display: block;
	text-align: center;


}


div#Certdiv{
	display: block;
	text-align: center;


}


.grid-container {

  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  border: 3px solid #e78200;
  border-radius: 1.2rem;
  padding: 10px;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}




.grid-item {
  padding: 10px;
  text-align: left;
  
  